<!DOCTYPE html>
<html lang="en"th:replace="~{base::parent(~{::#content},~{::title},~{::script},~{::navbar})}"
>
<head>
  <title>ABout page</title>

</head>
<body>
<div id="content">
<h1>welcome to about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipi
    sicing elit. Aut illo, harum minus ducimus ea nesciunt accusantium eligendi alias deserunt, excepturi libero ab aliquid voluptat
    em architecto fugit voluptates impedit atque deleniti?</p>
</div >
<script>
    console.log("this in about page")
</script>
</body>
</html>