<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title,script,navbar)" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title data-th-replace="${title}">SCM</title>
  <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />

  <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css"
    integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" data-th-href="@{/css/style.css}">
</head>

<body class="bg-slate-200 dark:bg-slate-900 text-black dark:text-white transition-colors duration-300">

  <!-- user is logged in :navabar -->
  <div th:if="${loggedInUser}">
    <div data-th-replace="~{user/user_navbar::user-navbar}"></div>
  </div>



  <!-- user is not logged : navbar -->
  <div th:unless="${loggedInUser}">
    <div data-th-replace="~{navbar :: navbar}"></div>
  </div>

<!-- user is logged in : sidebar -->
<div th:if="${loggedInUser}">
  <div data-th-replace="~{user/sidebar::sidebar}"></div>
</div>



<!-- PAGE CONTENT -->
<div
  class="pt-20 p-5 min-h-screen bg-white dark:bg-gray-900 transition-all duration-300"
  th:classappend="${loggedInUser} ? ' sm:ml-64' : ''"
>
  <section th:replace="${content}"></section>
</div>




  <!-- comman footer -->

  <footer>
    footer:learn with chetan and code with chetan
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
  <script data-th-src="@{'/js/script.js'}">

  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <th:block data-th-replace="${script}"></th:block>
</body>

</html>