<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            background-color: aqua;
            color: blueviolet;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>welcome to homepage
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Exercitationem error corporis non optio aperiam nobis nisi n
                 ihil, minus sequi, ab odio inventore harum, amet nam qui i
                 ncidunt! Et, nemo explicabo?20</p>
        </h1>
    </div>
</body>
</html>