<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script},~{::navbar})}"
>
<head>
<title>All your contact</title>



</head>
<body>
<div id="content">
    <div>
          <!-- user is log in :sidebar -->
  <div th:if="${loggedInUser}">
    <div data-th-replace="~{user/sidebar::sidebar}"></div>
  </div>
        
<h1 class="text-3xl font-bold text-gray-800 dark:text-white mb-6">
    All Your Contacts
</h1>

<div class="contact_Container">
  

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">

    <div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">


        <!-- Search -->
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
                </svg>
            </div>
            <input type="text"
                class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 
                bg-gray-50 focus:ring-blue-500 focus:border-blue-500 
                dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
                dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search contacts">
        </div>
    </div>

    <!-- Table -->
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">

        <!-- Table Head -->
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 
            dark:bg-gray-700 dark:text-gray-400">
            <tr>
           
                <th scope="col" class="px-6 py-3">Name</th>
                <th scope="col" class="px-6 py-3">Phone</th>
                <th scope="col" class="px-6 py-3">Links</th>
                <th scope="col" class="px-6 py-3">Action</th>
            </tr>
        </thead>

      
        <tbody>

            <tr data-th-object="${c}"
            data-th-each="c :${contacts}"
             class="bg-white border-b hover:bg-gray-50 
                dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">

             

                <th scope="row"
                    class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">

                    <img class="w-10 h-10 rounded-full" 
                    onerror="this.src='https://tse1.mm.bing.net/th/id/OIP.TpqSE-tsrMBbQurUw2Su-AHaHk?rs=1&pid=ImgDetMain&o=7&rm=3'"
                    data-th-src="@{*{picture}}"
                        src="https://flowbite.com/docs/images/people/profile-picture-1.jpg"
                        alt="profile">

                    <div class="pl-3">
                        <div class="text-base font-semibold" data-th-text="*{name}">Name of contact</div>
                        <div class="font-normal text-gray-500 dark:text-gray-400" data-th-text="*{email}">
                           Example@gmail.com
                        </div>
                    </div>
                </th>

                <td class="px-6 py-4" >

                   <i class="fa-solid fa-phone h-5 w-5"></i>
              
                    <span data-th-text="*{phoneNumber}"></span>
                </td>

                <td class="px-6 py-4">
                    <div class="flex items-center">
                        <div data-th-if="*{favourite}"
                         class="h-2.5 w-2.5 rounded-full mr-2 bg-green-400 me-2" ></div>
                      <a data-th-href="@{*{WebsiteLink}}" target="_blank"><i class="fa-solid fa-link w-8 h-5"    ></i></a> 
                       <a data-th-href="@{*{LinkdInLink}}" target="_blank"><i class="fa-brands fa-linkedin h-5 w-5 " ></i></i>
</a>
                    </div>
                </td>

                <td class="px-6 py-4">
                  <div>
                    <i class="fa-solid fa-trash w-6 h-6"></i>
                    <i class="fa-solid fa-pen w-6 h-6"></i>
                   <i class="fa-solid fa-eye w-6 h-6"></i>
                  </div>
                   
                </td>

            </tr>

        </tbody>
    </table>
</div>


</div>

</div></div>
<script>
    console.log("this in dashboard page")
</script>
</body>
</html>
    
   
