
   <nav th:fragment="user-navbar"
     class="fixed top-0 z-50 w-full bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-700">

  <div class="max-w-screen-xl mx-auto px-4">
    <div class="flex items-center justify-between h-16">
      <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="text-heading bg-transparent box-border border border-transparent hover:bg-neutral-secondary-medium focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-base ms-3 mt-3 text-sm p-2 focus:outline-none inline-flex sm:hidden">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h10"/>
   </svg>
</button>

      <!-- LOGO -->
      <a th:href="@{/home}" class="flex items-center gap-2">
        <img th:src="@{/images/telephone.png}" class="h-8 w-8" alt="logo">
        <span class="text-xl font-bold text-gray-900 dark:text-white">SCM</span>
      </a>

      <!-- MENU -->
      <ul class="hidden md:flex items-center gap-8 font-medium">
        <li>
          <a th:href="@{/home}" class="text-blue-600 dark:text-blue-400">Home</a>
        </li>
        <li>
          <a th:href="@{/about}" class="hover:text-blue-600">About</a>
        </li>
        <li>
          <a th:href="@{/services}" class="hover:text-blue-600">Services</a>
        </li>
        <li>
          <a th:href="@{/contact}" class="hover:text-blue-600">Contact</a>
        </li>
      </ul>

  
      <div class="flex items-center gap-3">

        <!-- Theme Button -->
      <button id="theme_change_button" class="bg-gray-400 px-4 py-2 rounded me-3 ">
  <i class="fa-solid fa-circle-half-stroke"></i> <span>Light</span>
</button>


       
      </div>

    </div>
  </div>
</nav>


